@font-face {
    font-family: "PT Serif Caption";
    src: url("media/PT_Serif-Caption-Web-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Courgette";
    src: url("media/Courgette-Regular.ttf") format("truetype");
}

body {
    background-color: #3a1e0f;
    background-image: -webkit-linear-gradient(top, #6e391c 0%, #3a1e0f 300px);
    background-repeat: no-repeat;

    color: #f3b985;

    font-family: 'PT Serif Caption', serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Layout */

#app {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

#left-column {
    float: left;
    width: 50%;
}

#right-column {
    float: right;
    width: 50%;
}


/* bowl in the left column */

#bowl {
    margin-top: 70px;

    cursor: pointer;
    width: 320px;
    background-image: url(media/bowl.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: 1em;
    padding-top: 190px;

    font-size: 0.8em;
}


#stop-sound {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

/* phases in the right column */

#phases {
    counter-reset: phase;
}

.config-mode .config, .indicator-mode .indicator  {
    display: block;
}

.config-mode .indicator, .indicator-mode .config {
    display: none;
}

.phase h1 {
    cursor: default;
    font-family: 'Courgette', cursive;
    text-shadow: 2px 2px 0px black;
    font-weight: normal;
    font-size: 2.0em;
    margin: 0.5em 0px 0px 0px;
    color: #ffeddd;
}

.phase h1:before {
    counter-increment: phase;
    content: counter(phase) ". ";
}

.config label, .config input {
    font-family: 'PT Serif Caption', serif;
    font-size: 18px;
    cursor: text;
    padding: 0em 0.4em;
    background: rgba(255,255,255,0.1);
    border-radius: 0.2em;
    color: #fff;
}

.inactive {
    opacity: 0.3;
}


#timer-button {
    font: bold 18px arial, helvetica, sans-serif;
    margin-top: 40px;
}
